<div id="software" data-dropdown-content class="f-dropdown content tiny">
  <ul class="no-bullet">
    <li><%= link_to "Middleman", 'https://github.com/middleman/middleman', target: '_blank' %>,
      <%= link_to 'license', 'licenses/middleman.html', target: '_blank' %></li>
    <li><%= link_to "Foundation", "https://github.com/zurb/foundation", target: "_blank" %>,
      <%= link_to "license", 'licenses/foundation.html', target: "_blank" %></li>
    <li><%= link_to "jQuery", 'https://github.com/jquery/jquery', target: '_blank' %>,
      <%= link_to 'license', 'licenses/jquery.html', target: '_blank' %></li>
    <li><%= link_to 'Modernizr', 'https://github.com/Modernizr/Modernizr', target: '_blank' %>,
      <%= link_to 'license', 'licenses/modernizr.html', target: '_blank' %></li>
  </ul>
</div>