<a id="personal-info"></a>
<%= partial 'layouts/personal_info' %>

<hr/>

<a id="education"></a>
<%= partial 'layouts/educations' %>

<hr/>

<a id="work"></a>
<%= partial 'layouts/work_experience' %>

<hr>

<a id="technologies"></a>
<%= partial 'layouts/technologies' %>

<hr>

<a id="languages"></a>
<%= partial 'layouts/languages' %>